#itens-store-car {
    display: flex;
    margin: 18px;
    padding: 18px;
    border-radius: 12px;
    flex-Direction: column;
    align-Items: center;
    background-color: whitesmoke;
    color: blue;
}

#itens-store {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 18px;
    font-size: 16px;
    color:black;
    margin:3px;
}

#store-input-quant {
    text-align: center;
    margin: 6px;
    width: 12%;
    color: blue;
}

#store-input-total {
    margin: 6px;
    width: 30%;
    color: blue;
}

.panel-perfil {
    background-color: rgb(6, 6, 68);
    color: whitesmoke;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 18px;
    font-size: 12px;
    width: 100%;
    border-radius: 12px;
    border: black solid 1px;
}
.link-sales a {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: rgb(63, 61, 61);
    border-radius: 8px;
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: whitesmoke;
    width: 100%;
}
.link-sales span {
  position: absolute;
  left: 87%;
}

.panel-card {
    display: flex;
    border:none;
    padding: 3px;
    vertical-align: top;
    border-radius: 2px;
    /* background-color: rgb(226, 226, 226); */
    justify-content: center;
    max-width: 100%;
    margin: 1px;
    width: 100%;
    min-width: 100%;
}

.panel-card-button {
    flex-direction: column;
    padding: 12px;
    font-size: 12px;
    min-width: 25%;
    margin: 1px;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-left: 3px;
    border: none;

}

.store-plus {
    display: contents;
    /* width: 15%; */
    /* border: none; */
}

.store-minus {
    display: contents;
    /* width: 15%; */
    /* border: none; */
}

.store-del {
    display: contents;
    /* width: 15%; */
    /* border: none; */
}