#itens-store-car {
    display: flex;
    margin: 18px;
    padding: 18px;
    border-radius: 12px;
    flex-Direction: column;
    align-Items: center;
    background-color: whitesmoke;
    color: blue;
}

#itens-store {
    font-size: 12px;
}

#store-input-quant {
    text-align: center;
    margin: 6px;
    width: 12%;
    color: blue;
}

#store-input-total {
    margin: 6px;
    width: 30%;
    color: blue;
}

.panel-perfil {
    background-color: rgb(6, 6, 68);
    color:whitesmoke;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 18px;
    font-size: 12px;
    width:100%;
    border-radius: 12px;
    border: black solid 1px;
}

.panel-card {
    display: flex;
    padding: 16px;
    vertical-align: top;
    border-radius: 2px;
    background-color: rgb(226, 226, 226);
    justify-content: center;
    max-width: 100%;
    margin: 1px;
    width: 100%;
    min-width: 100%;
}

.panel-card-button {
    flex-direction: column;
    padding: 12px;
    font-size: 12px;
    min-width: 25%;
    margin: 1px;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-left: 3px;
    border: none;

}