.logo{
    margin-top: 1px;
    padding: 2px;
    width: 180px;
    height: auto;
    /* background-color:white; */
    border-radius: 16px;
    cursor:pointer;
}
.logo:hover{
     background-color:none
}