:root {
    --main-white-color: #ffff;
    --main-gray-color: gray;
    --font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 4px;
    gap: 5%;
    background-color:#464141dc;
    border: none;

}

@media screen and (max-width:768px) {
    .header {
        top: 33px;
    }
}

.header-navbar {
    margin-top: 5vh;
}

.header-counter {
    display: inline;
    position: relative;
    font-size: 12px;
    top: -3px;
    left: 41px;
}

.header-car {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-car:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.header-sub-total {
    color: var(--main-white-color);
}

.header-contact {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-contact:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.header-frete {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-frete:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}