:root {
    --main-white-color: #ffff;
    --main-gray-color: gray;
    --font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 0 auto;
    gap: 5%;
    /* background-color:gainsboro; */
    background-color: rgb(247, 75, 23);
    border: none;

}

@media screen and (max-width:768px) {
    .header {
        top: 33px;
    }
}

.header-navbar {
    margin-top: 5vh;
}

.header-counter {
    display: inline;
    position: relative;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
    padding: 0 auto;
    color: var(--main-white-color);
    /* color:#2e3092; */
    top: -3px;
    left: 24px;
}

.header-car {
    font-size: var(--font-size);
    color: var(--main-white-color);
    /* color: #2e3092; */
}

.header-car:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.txt-car {
    display: inline;
    position: relative;
    font-size: 16px;
    top: 13px;
    left: -5px;
}

.header-sub-total {
    /* color:#2e3092; */
    color: var(--main-white-color);
}

.header-contact {
    font-size: var(--font-size);
    color: var(--main-white-color);
    /* color:#2e3092 */
}

.header-contact:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.header-frete {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-frete:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}