:root {
    --main-white-color: #ffff;
    --main-gray-color: gray;
    --font-size: 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 6px;
    gap: 2%;
    background-color:#464141dc;
}

@media screen and (max-width:768px) {
    .header {
        top: 33px;
    }
}

.header-navbar {
    margin-top: 5vh;
}
.header-login{
    font-size: 10px;
    color: var(--main-white-color);

}
.header-login:hover {
     border: solid #ffff 1px;
    color: var(--main-gray-color);
    padding: 2px;
}

.header-counter {
    display: inline;
    position: relative;
    font-size: 12px;
    top: -8px;
    left: 33px;
    background-color: rgb(0, 0, 253);
    padding: 3px;
    border-radius: 100%;
}

.header-car {
    margin-right: 28px;
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-car:hover {
    padding: 2px;
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.header-sub-total {
    color: var(--main-white-color);
}

.header-contact {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-contact:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}

.header-frete {
    font-size: var(--font-size);
    color: var(--main-white-color);
}

.header-frete:hover {
    border: solid #ffff 1px;
    color: var(--main-gray-color)
}