:root {
    --main-white-color:black;
    --font-size:16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 0 auto;
    gap: 6%;
    background-color:gainsboro;
    border: none;

}
@media screen and (max-width:768px) {
     .header {
          top: 33px;
     }
}
.header-navbar{
    margin-top: 5vh;
}

.header-counter {
    display:inline;
    position: relative;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 0 auto;
    color:#2e3092;
    top: -6px;
    left: 48px;
}
.header-car  {
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-car:hover{
    color: gray;
}

.header-sub-total {
    color:#2e3092;
}
.header-contact{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-contact:hover{
    color: gray;
}
.header-frete{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-frete:hover{
    color: gray;
}

