:root {
    --main-white-color:black;
    --font-size:16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin-top: -33px;
    padding: 6px;
    gap: 4%;
    background-color:gainsboro;

}
@media screen and (max-width:768px) {
     .header {
          top: 33px;
     }
}
.header-navbar{
    margin-top: 5vh;
}

.header-counter {
    display:inline;
    position: relative;
    color: rgb(18, 18, 110);
    top: -5px;
    left: 23px;
}
.header-car  {
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-car:hover{
    color: gray;
}

.header-sub-total {
    color:var(--main-white-color);
      color: rgb(18, 18, 110);
}
.header-contact{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-contact:hover{
    color: gray;
}
.header-frete{
    font-size: var(--font-size);
    color:var(--main-white-color);
}
.header-frete:hover{
    color: gray;
}

