.container-itens {
    display: inline-block;
    background-color: #fff;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    width: 25%;
    padding: 8px;
}

@media screen and (max-width:768px) {
    .container-itens {
        width: 50%;
    }
}

.main-itens {
    width: 100%;
    text-align: center;
    min-height: 100%;
    border: none;
    border-radius: 4px;
    padding: 1px;
    background: white;
    margin-top: 1px;
    margin-bottom: 1px;
    margin: 1px;
}

.itens-img {
    margin-top: 1px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.itens-img:hover {
    width: 150px;
    height: 150px;
}

.select-amount {
    margin: 12px;
    padding: 4px;
    border-radius: 12px;
    max-width: 70%;
    border: none;
    text-align: center;
}

.input-amount {
    margin: 12px;
    border-radius: 12px;
    max-width: 40%;
    text-align: center;
}

.itens-valor {
    color: black;
    font-size: 16px;
}

.itens-valor-vista {
    color: blue;
    font-size: 12px;
}

.itens-valor-inst {
    color: green;
    font-size: 12px;
}

.itens-descric {
    font-size: 13px;
}

.itens-btn {
    margin-bottom: 1px;
    font-size: 12px;
}