.container-itens {
   display: inline-block;
   vertical-align: top;
   justify-content: center;
   max-width: 96%;
   margin: 1px;
   width: 24%;
   min-width: 196px;
}
.main-itens {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    transition: 2s ease-in-out;
    color: black;
    margin-left: 8px;
    border: solid rgb(248, 244, 244) 1px;
}

.main-itens:hover {
    background-color: #dae2e6
}

.itens-img {
    margin-top: auto;
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
    border-radius: 2px;
    border: 1px solid none;
}

.itens-img:hover {
    max-height: 100%;
    max-width: 100%;
}

.select-amount {
    margin: 12px;
    padding: 4px;
    border-radius: 12px;
    max-width: 90%;
    border: none;
    text-align: center;
}

.itens-valor {
    color:black;
    font-size: 16px;
}

.itens-valor-vista {
    color:blue;
    font-size: 12px;
}

.itens-valor-inst {
    color: green;
    font-size: 12px;
}

.itens-descric {
    font-size: 13px;
}

.itens-btn {
    margin-bottom: 12px;
    font-size: 14px;
}