.container-itens {
   display: inline-block;
   vertical-align: top;
   justify-content: center;
   max-width: 96%;
   margin: 1px;
   padding: 1px;
   width: 24%;
   min-width: 190px;
}
.main-itens {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 96%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    border-radius: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    transition: 2s ease-in-out;
    color: black;
}
.main-itens:hover{
    box-shadow: 3px 3px 3px 3px rgb(58, 58, 87);
    background-color:#dae2e6
}

.itens-img {
    margin-top: auto;
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
    border-radius: 2px;
    border:1px solid none;
}
.itens-img:hover{
    max-height: 100%;
    max-width: 100%;
}

.select-amount{
    margin: 12px;
    border-radius: 16px;
    max-width: 60%;
    border: none;
}

.itens-valor {
    color: blue;
    text-decoration:underline;
    /* border: #dae2e6 solid; */
    /* border-radius: 12px; */
    font-size: 18px;
}

